# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite

# Local configuration & secrets
.env
.env.local
.env.*.local
*.env

# PyInstaller / Build artifacts
build/
dist/

# IDE / Editor configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
